.grid {
    height: 10rem;  
    width: 40rem;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#boxes {
    border: solid;
    height: 9rem;
    width: 9rem;
}

