body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.class {
    border: solid;
    height: 1rem;
    width: 1rem;
    border-width: 0.5px;
}

.slider {
    display: flex;
}

.grid {
    height:500px;
    width: 960px;
    font-size: 0;
    margin: auto;
}

.box {
    display: inline-flex;
    flex-wrap: wrap;
    border: 1px solid black;
    box-sizing: border-box;
}